<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Cover Template</title>


  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">


</head>

<body background="{{ url_for('static', filename='light-gradient.png') }}">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container">

          <div class="masthead clearfix">
            <div class="container inner">
              <h3 class="masthead-brand">Emotionally Unstable</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Text and Speech</a></li>
                  <li><a href="#">Other</a></li>
                  <li><a href="#">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Emotionally Unstable.</h1>
            <p class="lead">Upload a file. See how emotions are created and broken through different API's. Have fun and break relationships. </p>

              <div class="wrapper">
                <div class="file-upload">
                  <form method=post enctype=multipart/form-data>

                  <input type="file" name=file>
                  <i class="fa fa-arrow-up">&uarr;</i>
                </div>
                <br>

              </div>

              <br>
<font color= #8d25eb75>
  <font face = "Bedrock" size = "5">
<input type="submit" value="UPLOAD" class="btn draw-border">
</font><br />
</font>

          </div>

        </div>

      </div>

    </div>


</body>
</html>
