<!DOCTYPE html>
<html>
<head>
<title>Emotions and Probabilities</title>
</head>
<style>

  .circle1, .circle2 {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <p></p><input type=file name=file>
         <input type="submit" value="Upload">
    </form>

<h2>Person 1</h2>

<div class="circle1" id="person1"></div>

<h2>Person 2</h2>
<div class="circle2" id="person2"></div>

<button type="button" onClick="prev()" id="prev">Previous</button>
<p id="sentence"></p>

<button type="button" onClick="next()" id="next">Next</button>



<script type="text/javascript"> 
//I'm assuming I have an array that look like this: [[sentence, person (0 or 1), 1, 2, 3, 4, 5], ....] and am calling it data
var data = {{ response|tojson }};
var index = 0;
document.getElementById("prev").disabled = true;
changeSentence();

function changeSentence() {
  document.getElementById("sentence").innerHTML = data[index][0];
  if(data[index][1] == 1) {
    document.getElementById("person1").style.backgroundColor = getColor(data[index]);
  } else {
     document.getElementById("person2").style.backgroundColor = getColor(data[index]);
  }
  
}

function next() {
  if (index >= data.length - 1) {
    document.getElementById("next").disabled = true;
  } else {
    document.getElementById("prev").disabled = false;
    document.getElementById("next").disabled = false;
    index = index + 1;
    changeSentence();
    if (index == data.length - 1) {
      document.getElementById("next").disabled = true;
    }
  }
}

function prev() {
  if (index <= 0) {
    document.getElementById("prev").disabled = true;
  } else {
    document.getElementById("next").disabled = false;
    document.getElementById("prev").disabled = false;
    index = index - 1;
    changeSentence();
    if (index == 0) {
      document.getElementById("prev").disabled = true;
    }
  }
}

function getColor(emotion) {
  var maxIndex = 2;
  var max = emotion[2];
  console.log(emotion);
  for(var i = 3; i < emotion.length; i++) {
    if(emotion[i] > max) {
      max = emotion[i];
      maxIndex = i;
    }
  }
  if(maxIndex == 2) {
    return "red"; //anger
  } else if(maxIndex == 3) {
    return "green"; //surprise
  } else if(maxIndex == 4) {
    return "purple"; //fear
  } else if(maxIndex == 5) {
    return "blue"; //sadness
  } else if(maxIndex == 6) {
    return "yellow"; //joy
  }
}

</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<div id="container"></div>
<script>

/*
The purpose of this demo is to demonstrate how multiple charts on the same page can be linked
through DOM and Highcharts events and API methods. It takes a standard Highcharts config with a
small variation for each data set, and a mouse/touch event handler to bind the charts together.
*/



/**
 * In order to synchronize tooltips and crosshairs, override the
 * built-in events with handlers defined on the parent element.
 */
$('#container').bind('mousemove touchmove touchstart', function (e) {
    var chart,
        point,
        i,
        event;

    for (i = 0; i < Highcharts.charts.length; i = i + 1) {
        chart = Highcharts.charts[i];
        event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
        point = chart.series[0].searchPoint(event, true); // Get the hovered point

        if (point) {
            point.highlight(e);
        }
    }
});
/**
 * Override the reset function, we don't need to hide the tooltips and crosshairs.
 */
Highcharts.Pointer.prototype.reset = function () {
    return undefined;
};

/**
 * Highlight a point by showing tooltip, setting hover state and draw crosshair
 */
Highcharts.Point.prototype.highlight = function (event) {
    this.onMouseOver(); // Show the hover marker
    this.series.chart.tooltip.refresh(this); // Show the tooltip
    this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
};

/**
 * Synchronize zooming through the setExtremes event handler.
 */
function syncExtremes(e) {
    var thisChart = this.chart;

    if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
        Highcharts.each(Highcharts.charts, function (chart) {
            if (chart !== thisChart) {
                if (chart.xAxis[0].setExtremes) { // It is null while updating
                    chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                }
            }
        });
    }
}

// Get the data. The contents of the data file can be viewed at
// https://github.com/highcharts/highcharts/blob/master/samples/data/activity.json
var firstGraph = {{ data1|tojson }};
var secondGraph = {{ data2|tojson }};
function createGraph(activity) {
    $.each(activity.datasets, function (i, dataset) {

        // Add X values
        dataset.data = Highcharts.map(dataset.data, function (val, j) {
            console.log(val);
            console.log("j");
            console.log(j);

            return [activity.xData[j], val];
        });

        $('<div class="chart">')
            .appendTo('#container')
            .highcharts({
                chart: {
                    marginLeft: 40, // Keep all charts left aligned
                    spacingTop: 20,
                    spacingBottom: 20
                },
                title: {
                    text: dataset.name,
                    align: 'left',
                    margin: 0,
                    x: 30
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    crosshair: true,
                    events: {
                        setExtremes: syncExtremes
                    },
                    labels: {
                        format: '{value} response'
                    }
                },
                yAxis: {
                    title: {
                        text: 'probability'
                    }
                },
                tooltip: {
                    positioner: function () {
                        return {
                            x: this.chart.chartWidth - this.label.width, // right aligned
                            y: 10 // align to title
                        };
                    },
                    borderWidth: 0,
                    backgroundColor: 'none',
                    pointFormat: '{point.y}',
                    headerFormat: '',
                    shadow: false,
                    style: {
                        fontSize: '18px'
                    },
                    valueDecimals: dataset.valueDecimals
                },
                series: [{
                    data: dataset.data,
                    name: dataset.name,
                    type: dataset.type,
                    color: Highcharts.getOptions().colors[i],
                    fillOpacity: 0.3,
                    tooltip: {
                        valueSuffix: ' ' + dataset.unit
                    }
                }]
            });
    });
};
$(function() {
  createGraph(firstGraph);
  createGraph(secondGraph);
})
</script>




  </body>
</html>
